// OFFER
.offer-share {
  text-align: center;
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.583)),
    url('../img/background/bg1.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
  min-height: 633px;
  padding-bottom: 70px;


  &__angle {
    transform: rotate(180deg);
  }

  & > .hello__title {
    color:$base-secondary-color;
  }

  
  
  &__desc {
    text-align: center;
    padding: 30px 60px;
    border-radius: 10px;
    background-color: $base-third-color;
    border: 2px dotted $base-secondary-color;

    @media (max-width: 950px) {
      margin-top: 20px;
    }
  }

  &__title {
    text-transform: uppercase;
    color: white;
  }

  
  &__text {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
  }

  &__btn {
    margin: auto;
  }
}

.present-us {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  &__text {
    font-size: 20px;
  }

  &__picture {
margin: 0 auto;
width: 77%;
  }

  &__img {
    width: inherit;
  }
}

.timer {
  &__block {
    width: 77px;
    color:red;

    &__item {
      font-size: 14px;
    }
  }
}

//Hello
.hello {
  padding: 20px 0 0 0;
  margin-bottom: 30px;
  background-image:
  linear-gradient(to bottom, rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.661)),
  url('../img/background/bg1.jpg');
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
min-height: 581px;
padding-top: 31px;
color:white;

&__angle {
min-height: 190px;
overflow: hidden;
position: relative;
background:rgba(255, 0, 0, 0.283);

&::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    border-right: 913px solid transparent;
    border-bottom: 140px  solid white;
  }
  
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-left: 963px solid transparent;
    border-bottom: 138px solid white;
  }
}

  &__title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    font-size: 52px;
    color: $base-color;
    border-bottom: 1px solid $base-third-color;
  }

  &__text {
    width: 50%;
    margin: auto; 
    padding: 0 30px;
    color: rgb(50, 55, 129);
    margin-top: 50px;
    font-size: 20px;
    color:white;

    &__list {
     list-style: square;
     list-style-position: inside;

     &__title {
      font-size: 25px;
      margin-top: 50px;
      text-decoration: underline;
     }

     &__item {
      margin: 30px;
     }
    }

    @media (max-width: 605px) {
      width: 100%;
    }
  }
    
  @media (max-width: 600px) {
    &__title {
      font-size: 40px;
    }
  }

  @media (max-width: 400px) {
    min-height: 300px;
    &__title {
      font-size: 30px;
    }
  }
}


//s
.statistical {
  padding-bottom: 50px;

  &__info {
    text-align: center;

    &__title {
      color: green;
      font-size: 30px;
    }

    &__text {
      font-size: 20px;
    }
  }
}
//animatiopn procent
.procent::after {
  content: counter(count);
  animation: counter 8s linear 1 alternate;
  counter-reset: count 87;
}

@keyframes counter {
  0% {
    counter-increment: count -10;
  }
  10% {
    counter-increment: count -9;
  }
  20% {
    counter-increment: count -8;
  }
  30% {
    counter-increment: count -7;
  }
  40% {
    counter-increment: count -6;
  }
  50% {
    counter-increment: count -5;
  }
  60% {
    counter-increment: count -4;
  }
  70% {
    counter-increment: count -3;
  }
  80% {
    counter-increment: count -2;
  }
  90% {
    counter-increment: count -1;
  }
  100% {
    counter-increment: count 0;
  }
}

// Contact
.contact {
  padding-top: 30px;
  padding-bottom: 30px;

  &__info {
    @include flex-column;

    margin-bottom: 30px;
    min-height: 300px;

    @media (max-width: 919px) {
      margin: 30px auto;
    }

    &__title {
      margin: 0;
    }
  }

  &__map {
    @media (max-width: 919px) {
      margin: 30px auto;
    }

    @media (max-width: 577px) {
      width: 100%;
    }
  }

  &__iframe {
    @media (max-width: 577px) {
      width: inherit;
    }
  }

  &__wrapper {
    @include flex-between;

    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px;
  }
}

.services {
  padding: 30px 0 50px 0;

  &__wrapper {
    @include flex-column;
  }

  &__title {
    text-align: center;
  }

  &__slider {
    overflow: hidden;
    width: 320px;
    margin: auto;

    &__title {
      text-align: center;
    }

    &__cards {
      width: 100%;
      display: flex;
      transition: all 0.5s ease 0s;
    }

    &__card {
      padding: 10px;
      width: 320px;
      background-color: $base-third-color;
      border-radius: 10px;

      &__link {

      }
    }

    &__picture {
      display: inline-block;
      width: 300px;
      height: 200px;

      
    }

    &__img {
      width: inherit;
      height: inherit;
    }

    &__btns {
      position: relative;
      width: 280px;
      margin: auto;

      @include flex-between;
    }

    &__btn {
      position: absolute;
      z-index: 1;
      top: 10px;
      height: 45px;
    }

    &__prev {
      border-radius: 10px 0 0 10px;
    }

    &__next {
      right: 0%;
      border-radius: 0 10px 10px 0;
    }
  }
}
